/*
   TODO; IMPLEMENT GRID better 

*/

/*skip to main styling*/
/*from rubric: Each page has a "Skip to Main Content" link that only appears when it has focus (using the tab key) and works
               When selected it should jump me to the main tag. 
                Should be hidden upon page load
                When it has focus it becomes visible
                When selected it jumps me to the main tag */
.skip {
    position: absolute; 
    top: -40px;
}
.skip:focus {
    top: 20px;
    color: white; 
}
/*might want to change */
:focus {
    border: 2px solid;
}

/*Navigation-  
    -All four pages are linked via a common navigation structure that works well for a mobile device
    -Order of navigation elements should stay the same on all of your pages  
    -You use CSS to indicate the current page (Active page) within the links in the navigation
    -Your menu should work for a smaller mobile view 
    -I can easily click on all links and buttons when viewing this site on my mobile device. 
    -Each page should have a unique name (H1) which should match with your title to some degree*/
nav {
        padding: 10px 20px;
  
}
nav ul { 
    margin: 0;
    padding: 0;
    display: flex;  
    justify-content: center;  
    gap: 20px; 
}
nav ul li a { 
    display: inline;
}

nav ul li a {
    color: white; 
}
nav ul li a:hover,
nav ul li a:focus {
    color: #FFCB05; 
}
nav ul li a.active {
    background: #FFCB05; 
    color: #00274C;
} 

/*Footer: You should have a consistent footer across your site - this means your footer should be the same across all of your pages and the information should be the same across all of your pages. */
footer { 
    background: #00274C;
    color: white; 
    padding: 20px 20px; 
    display: flex; 
    justify-content: center;  
}
footer a{ 
    color:white; 
}
header { 
    background-color: #00274C;  
}
header img{ 
    display: block; 
    margin: 0 auto; 
    max-width: 10%;
    height: auto;
    padding: 20px 20px; 
}
header h1{ 
    padding: 20px 20px; 
    background-color: white;  
    display: flex; 
    justify-content: center;  
    font-size: 200%;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
    padding: 20px;
    max-width: 1200px; 
    margin: auto; 
}

main div, main section {
    background-color: #f9f9f9; /* Light background */
    padding: 15px;
    border-radius: 8px;
}

/* Make images responsive */
main img {
    width: 100%;  /* Ensures images fit within their div */
    height: auto; 
    border-radius: 5px;
    padding: 0px, 0px, 0px, 20px; 
}

.intro{ 
    grid-column: 1 / span 3; 
}

ul, ol{ 
  padding-left: 20px;   
}

.intro img, .links img{ 
    width: 50%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 

}

.links { 
    grid-column: 1 / span 3; 
}

h2 { 
    padding: 0px 0px 20px 0px; 
}

h3{ 
    padding: 20px 0px 0px 0px; 
}

.intro2 { 
    grid-column: 1/ span 2; 
}